html
    head
        title Index
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        script(sec = 'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(sec = 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(sec = 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        script(src = 'https://use.fontawesome.com/releases/v5.0.8/js/all.js')

nav.navbar.navbar-inverse.navbar-dark.bg-dark.sticky-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/index/") HOME
      a.navbar-brand(href="/userList/") PROFILE
      a.navbar-brand(href="/movieList") MOVIE
      a.navbar-brand(href="/peopleList/") PERSON
      a.navbar-brand(href="/create/") CREATE USER
      a.navbar-brand(href="/login/") LOGIN
      a.navbar-brand(href="/search/") SEARCH
      a.navbar-brand(href="/contribute/") CONTRIBUTE
      a.navbar-brand(href="/current/") CURRENT USER
      a.navbar-brand.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') Notifications
      ul(class="dropdown-menu")
        li
          a(href='/allNotifications') View past notifications
        notifications.forEach(function(notification))
      a.navbar-brand
        form(class= "form-inline my-2 my-lg-0" action='/logout?_method=DELETE' method='POST')
          button(class= "btn btn-outline-success my-2 my-sm-0") Log Out


body
    div(class="row h-50 justify-content-center align-items-center")
        h1 Please Switch User to Contribute
    div(class="text-center")
        h2 this is available on your user page
